  
body {
  font-size: 16px;
  color: #fff;
  background-color: #6699ff;
}

/** HEADER **/
#header-nav {
  background-color: #ff6666;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 20px;
}

.navbar-brand h1 { /* Restaurant name */
  color: #557c3e;
  font-size: 1.5em;
  text-align: left;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  padding-left: 0px; 
  margin: 0px;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-toggle{
    background-color: #111;
  }
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  background-color: #ffffcc;
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#headmenu {
  text-align: center;
  font-weight: bold;
}
.row {
  margin-bottom: 15px;
}
h6{
  font-weight: bold;
  font-size: 20px
}
p{
  text-size: 18px;
}
div div#item-chicken,
div div#item-beef,
div div#item-shushi{
  background-color: gray;
  width: 100%;
  padding: 5px;
  margin-bottom: 60px;
  box-shadow: 5px 10px black;
}